*,
*::after,
*::before {
  box-sizing: border-box;
}

.admin-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  align-items: center;
  gap: 20px;
  /* background-color: #fff; */
}

.breacrumb-section {
  width: 100%;
  height: 100px;
}

.user-item-list {
  width: min(1200px, 80%);
  background-color: #fff;
  overflow: auto;
  height: 600px;
}

.user-item-list thead {
  position: sticky;
  top: 0;
}

.search-bar {
  width: 100%;
  display: flex;
  justify-content: center;
}

.search-bar input {
  border-radius: 15px;
  height: 30px;
  width: 500px;
  padding: 0 15px;
}

.user-item-list table {
  width: 100%;
  text-align: center;
  vertical-align: middle;
}

.user-item-list table td {
  width: 75px;
  height: 30px;
}

.user-item-list table td,
.user-item-list table th {
  background-color: #fff;
}

.user-item-list table th {
  font-size: 24px;
}

.user-info:hover td {
  cursor: pointer;
  background-color: #efefef;
}

.adjust-height {
  height: 100vh;
}

.display-flex-admin {
  display: flex;
}

#adjust-width-and-font-size {
  font-size: 1.2rem;
  width: 30%;
}

#set-size-for-search-bar {
  width: 50%;
  margin-bottom: 2rem;
  width: min(1200px, 80%);
}

.set-margin-top-2rem {
  margin-top: 2rem;
}

.set-title-style {
  font-weight: 700;
  margin-top: 3rem;
  font-size: 3rem;
}

#add-margin-bottom {
  margin-bottom: 2rem;
}

#dropdown-menu {
  color: #dee2e6;
  background-color: #343a40;
  border-color: rgba(0, 0, 0, 0.15);
  display: block;
  position: absolute;
  inset: auto auto 0px 0px;
  margin: 0px;
  transform: translate(0px, -34px);
}

#dropdown {
  padding-top: 50vh;
}

#set-vertical-align-center {
  vertical-align: middle;
}
