.close-modal {
  position: absolute;
  top: -1rem;
  right: 1rem;
  font-size: 5rem;
  color: #333;
  cursor: pointer;
  border: none;
  background: none;
}

/* -------------------------- */
/* CLASSES TO MAKE MODAL WORK */
.hidden {
  display: none;
}

.modal {
  /* position: absolute;
  top: 80%;
  left: 50%;
  height: 50%; */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 50%;
  /* transform: translate(-50%, -50%); */
  width: 70%;
  display: inline-block;
  background-color: white;
  padding: 2rem;
  border-radius: 5px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 10;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 5;
}

.saleoff-title {
  margin-bottom: 2rem;
}

.saleoff-content {
  padding-bottom: 3rem;
}

.text-align-center {
  text-align: center;
}
